@model Registry.Models.charge

@{
    ViewBag.Title = "ChargedFileindex";
    Layout = "~/Views/Shared/_FileLayout.cshtml";
}

<h2>ChargedFileindex</h2>

<div>
    <h4>charge</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model =>model.number)
        </dt>
        <dd>
            @Html.DisplayFor(mmodel => Model.number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.page)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.page)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.number }) |
    @Html.ActionLink("Back to List", "Index")
</p>
