@model Registry.Models.charge

@{
    ViewBag.Title = "ChargeFile";
    Layout = "~/Views/Shared/_FileLayout.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">Charge a file</h5>
    </div>
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            <div class="form-group">
                <label class="control-label col-md-2" for="title">File number</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" required="required" id="number" name="number" type="text" value="" />
                    @Html.ValidationMessageFor(model => model.number)
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="destination">Destination</label>
                <div class="col-md-10">
                    <select class="form-control" id="destination" name="destination" required="required">
                        <option >Select a destination</option>
                        <option value="HOD Software">HOD Software</option>
                        <option value="HOD Engineering">HOD Engineering</option>
                        <option value="HOD COM">HOD COM</option>
                        <option value="HOD Planning and IT innovation">HOD Planning and IT innovation</option>
                        <option value="DFA">DFA</option>
                        <option value="Registry">Registry</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.number)
                </div>
            </div>
      
            <div class="form-group">
                <label class="control-label col-md-2" for="page">Page</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" required="required" id="page" name="page" type="text" value="" />
                    @Html.ValidationMessageFor(model => model.page)
                </div>
            </div>

            

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Charge file" class="btn btn-primary btn-user btn-block" />
                </div>
            </div>
        </div>
    }
</div>